// Esquemas de color
// Primer esquema
$white: #FFFFFF;

// Segundo esquema
$black: #000000;
$sable: #060606;
$charcoal: #2E1503;

// Tercer esquema
$tangerine: #FFAF6D;
$orange: #FFA500;

// TIPOGRAFIA
//font-family
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

$ubuntu-regular: 400;
$ubuntu-bold: 700;
$poppins-regular: 400;
$poppins-bold: 700;

// PESOS
// font-size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$cero: 0;