.footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 1em;
    text-align: center;
    background-color: $black;
    color: $white;
    text-decoration: none;
    font-size: $x-small;

    &__legal ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        color: $white;
    }
    
    &__legal-li a {
        color: $white;
        padding-right: .5em;
    }
}