.main{
    border: 1px solid red;
    margin-left: 2em;
    margin-right: 3em;
}
.principal__lft {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 2em;
}

.principal__rgt {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 2em;
    float: right;
}

.principal__rgt-engranage {
    width: 30%;
    height: 30%;
}

.principal {
    &__lft-article{
        border: 1px solid green;
    }
}

.wevdev {

    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.more__title{
    background-color: $charcoal;
    color: $white;
    text-align: center;
    font-size: $small;
}