.principal {
width: 100%;
height: 100%;
}
.envol {
    display: flex;
    border: solid;
    margin-left: 2%;
}

.principal__lft, .principal__rgt  {
    width: 100%;
    height: 100%;
}

.principal {
    &__lft-article{
        border: 1px dotted $sable;
        margin-bottom: 0.5em;
        margin-top: .5em;
        padding: 5px;
    }

    &__rgt-article{
        margin-bottom: 0.5em;
    }

    &__title {
        font-size: $large;
        font-weight: $ubuntu-bold;
    }
    
    &__p {
        font-size: $small;
    }

    &__instructor {
        font-size: $medium;
        font-weight: $ubuntu-bold;
        padding-left: .5em;
    }
}

.principal__rgt-webdeveloper {
    text-align: center;

    .wevdev {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: .5em;
        border: 1px solid $sable;
    }
    .algn-lft{
        text-align: left;
        font-size: $small;
        padding-top: 1em;
    }
}

.more__title{
    padding: .5em;
    background-color: $charcoal;
    color: $white;
    text-align: center;
    font-size: $small;
}

.moore__li {
    list-style-type: circle;
    font-size: $medium;
}

.principal__rgt-engranage {
    display: block;
    margin: auto;
    padding-top: 3em;
    width: 25%;
    height: 100%;
}

.principal__rgt-engranage .tuerca__interna, .principal__rgt-engranage .tuerca__externa {
    -webkit-animation: 2s rotate infinite linear;
            animation: 2s rotate infinite linear;
    -webkit-transform-origin: 80% 80%;
            transform-origin: 80% 80%;
}