.wrapper, .row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navigation-bar {
    width: 100%;
    background-color: $black;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    font-family: $poppins;
    font-weight: $poppins-bold;
}

.collapse {
    flex-direction: row-reverse;
}

.navbar-brand img {
    width: 40px;
}